.node {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0px 3px -4px 1px;
  border: 1px solid rgb(185, 185, 185);
  display: inline-block;
}

.node-finish::after {
  content: "🏁";
  position: absolute;
}

.node-finish {
  border-width: 0px;
}

.node-start::after {
  content: "🚗";
  position: absolute;
}

.node-start {
  border-width: 0px;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(243, 73, 243, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(243, 121, 243, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(243, 171, 243, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(243, 221, 243, 0.75);
  }
}

.node-wall::after {
  content: "🚫";
  position: absolute;
}

.node-wall {
  border-width: 0px;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border-width: 0px;
}

.node-shortest-path::after {
  content: "🚗";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    border-width: 0px;
  }

  50% {
    transform: scale(1.2);
    border-width: 0px;
  }

  100% {
    transform: scale(1);
    border-width: 0px;
  }
}

@media only screen and (max-width: 1350px) {
  .node {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media only screen and (max-width: 1050px) {
  .node {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0px;
  }
}

@media only screen and (max-width: 915px) {
  .node {
    display: none;
  }
}
