.node {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0px 1px -4px 1px; 
  outline: 1px solid rgb(211, 211, 211);
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(177, 2, 75, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(221, 21, 104, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(214, 60, 124, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(248, 124, 176, 0.75);
  }
}

.node-wall {
  background-color: var(--third_color);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(106, 116, 255);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(94, 88, 184);
  }

  100% {
    transform: scale(1);
    background-color: rgb(83, 81, 228);
  }
}