.container{
    position: absolute;
    display: flex;
    left: 100px;
}

.array_bar {
    margin: 0px 1px;
    display: inline-block;
    background-color: rgb(201, 38, 38);
    width: 4px;
    font-size: 2px;
}